<p-inputMask inputId="myDateTimeMask" name="myDateTimeMask" mask="99/99/9999 99:99" [(ngModel)]="stringDateTime" placeholder="99/99/9999 99:99" slotChar="dd/mm/aaaa hh:mm" (onBlur)="blur()" (onInput)="input()" (onComplete)="complete()"></p-inputMask><button pButton type="button" icon="pi pi-calendar" class="p-button-raised button" (click)="mostraCalendar()"></button>
<div *ngIf="show" style="position: absolute;z-index:1;">
  <p-calendar id="myDatePicker" name="myDatePicker" [showTime]="true" dateFormat="dd/mm/yy hh:mm" [(ngModel)]="date" (onClearClick)="clearClick()" (onSelect)="select()" [inline]="true" [locale]="sepultamentoService.Br" yearRange="1800:2050" [monthNavigator]="true" [yearNavigator]="true" showButtonBar="true"></p-calendar>
</div>
