.style2 {
  font-size: small;
}

#form1 {
  text-align: justify;
}

.style3 {
  font-size: x-small;
}

.style4 {
  font-size: medium;
}
table {
  border-width: 1px;
  border-style: None;
  border-collapse: collapse;
}
